.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer {
    position: relative;
    top: 1000px;
}

.header {
    background-color: #fc0000;
}

.links {
    font-size: 3vh;
    position: relative;
    top: -40px;
    color: #fff;
}

.active {
    color: #111 !important;
    background-color: #fff !important;
}

.card {
    background-color: #cfafdf !important;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.card:hover {
    cursor: pointer;
    color: #fff !important;
    background-color: #f00 !important;
    box-shadow: 5px 4px 4px #111;
}

.list-group-item {
    outline: none !important;
    text-transform: uppercase;
}

.active-item {
    background-color: #789 !important;
    color: #fff;
}